<div class="wrapper-preloader">
  <div class="preloader">
    <div class="preloader-bubble">
      <div class="preloader-bubble-drop"></div>
      <div class="preloader-bubble-drop"></div>
      <div class="preloader-bubble-drop"></div>
      <div class="preloader-bubble-drop"></div>
      <div class="preloader-bubble-drop"></div>
      <div class="preloader-bubble-drop"></div>
      <div class="preloader-bubble-drop"></div>
    </div>

    <div class="preloader-bubble">
      <div class="preloader-bubble-drop"></div>
      <div class="preloader-bubble-drop"></div>
      <div class="preloader-bubble-drop"></div>
      <div class="preloader-bubble-drop"></div>
      <div class="preloader-bubble-drop"></div>
      <div class="preloader-bubble-drop"></div>
      <div class="preloader-bubble-drop"></div>
    </div>

    <div class="preloader-bubble">
      <div class="preloader-bubble-drop"></div>
      <div class="preloader-bubble-drop"></div>
      <div class="preloader-bubble-drop"></div>
      <div class="preloader-bubble-drop"></div>
      <div class="preloader-bubble-drop"></div>
      <div class="preloader-bubble-drop"></div>
      <div class="preloader-bubble-drop"></div>
    </div>
  </div>
</div>
