<div class="container">
  <div class="block">
    <div class="overlay"></div>
    <div class="block-text">
      <div class="text-head">Dreams</div>
      <div class="text-quote">
        “All our dreams can come true, if we have the courage to pursue them.”
      </div>
      <div class="text-person">Walt Disney</div>
    </div>
  </div>

  <div class="block">
    <div class="overlay"></div>
    <div class="block-text">
      <div class="text-head">Never Give Up</div>
      <div class="text-quote">
        “It’s hard to beat a person who never gives up.”
      </div>
      <div class="text-person">Babe Ruth</div>
    </div>
  </div>

  <div class="block">
    <div class="overlay"></div>
    <div class="block-text">
      <div class="text-head">Never Give Up</div>
      <div class="text-quote">
        “It’s hard to beat a person who never gives up.”
      </div>
      <div class="text-person">Babe Ruth</div>
    </div>
  </div>

  <div class="block">
    <div class="overlay"></div>
    <div class="block-text">
      <div class="text-head">Do it</div>
      <div class="text-quote">“Do one thing every day that scares you.”</div>
      <div class="text-person">Eleanor Roosevelt</div>
    </div>
  </div>
</div>
