<div class="pl">
  <div class="pl-coin">
    <div class="pl-coin-flare"></div>
    <div class="pl-coin-flare"></div>
    <div class="pl-coin-flare"></div>
    <div class="pl-coin-flare"></div>

    <div class="pl-coin-layers">
      <div class="pl-coin-layer">
        <div class="pl-coin-inscription"></div>
      </div>

      <div class="pl-coin-layer"></div>
      <div class="pl-coin-layer"></div>
      <div class="pl-coin-layer"></div>

      <div class="pl-coin-layer">
        <div class="pl-coin-inscription"></div>
      </div>
    </div>
  </div>

  <div class="pl-shadow"></div>
</div>
