<div class="icon-hover-wrap">
  <ul class="icon-hover-list">
    <li class="icon-hover-list-item" style="--color: #2483ff">
      <a href="#">
        <i class="fa-solid fa-house"></i>
        <span>Home</span>
      </a>
    </li>

    <li class="icon-hover-list-item" style="--color: #fff200">
      <a href="#">
        <i class="fa-solid fa-user"></i>
        <span>Profile</span>
      </a>
    </li>

    <li class="icon-hover-list-item" style="--color: #ff253f">
      <a href="#">
        <i class="fa-solid fa-heart"></i>
        <span>Likes</span>
      </a>
    </li>

    <li class="icon-hover-list-item" style="--color: #25d366">
      <a href="#">
        <i class="fa-solid fa-gear"></i>
        <span>Settings</span>
      </a>
    </li>

    <li class="icon-hover-list-item" style="--color: #f32ec8">
      <a href="#">
        <i class="fa-solid fa-magnifying-glass"></i>
        <span>Search</span>
      </a>
    </li>
  </ul>
</div>
