@import './index.css';
@import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');

body {
  display: flex;

  min-height: 100vh;

  font-family: 'Hind', sans-serif;

  color: #4d5974;
  background: #fff;
}

.container {
  width: 48rem;
  padding: 4rem;
  margin: 0 auto;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #03b5d2;
}

.accordion button {
  position: relative;

  display: block;

  width: 100%;
  border: none;
  padding: 1em 0;

  text-align: left;
  font-size: 1.15rem;
  font-weight: 400;

  color: #7288a2;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;

  color: #4d4d4d;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;

  border: 1px solid #03b5d2;

  color: #03b5d2;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  position: absolute;
  top: 18px;
  right: 0;

  display: inline-block;

  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  content: '';

  position: absolute;
  top: 9px;
  left: 5px;

  display: block;

  width: 10px;
  height: 2px;

  background: currentColor;
}

.accordion button .icon::after {
  content: '';

  position: absolute;
  top: 5px;
  left: 9px;

  display: block;

  width: 2px;
  height: 10px;

  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: #4d4d4d;
}

.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}

.accordion button[aria-expanded='true'] + .accordion-content {
  max-height: 9em;

  opacity: 1;
  transition: all 200ms linear;

  will-change: opacity, max-height;
}

.accordion .accordion-content {
  max-height: 0;

  opacity: 0;
  overflow: hidden;

  will-change: opacity, max-height;

  transition: opacity 200ms linear, max-height 200ms linear;
}

.accordion .accordion-content p {
  margin: 2em 0;

  font-size: 1rem;
  font-weight: 300;
}
