@import './index.css';
@import './pulsing-button.css';
@import './click-me-button.css';
@import './gradient-button-hover.css';
@import './button-animation.css';
@import './mail-button.css';
@import './particle-button.css';
@import './button-hover-effect.css';

body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
