:root {
  --accent-color: #ff4754;
  --accent-transparent-color: #ff475425;
  --background-color: #040404;
  --black-color: #000;
  --white-color: #f9f9f9;
}

body {
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: var(--background-color);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.checkboxL:is(:hover, :focus) .checkbox-check {
  background-color: var(--accent-transparent-color);
}

.checkbox-input {
  width: 0;
  height: 0;

  opacity: 0;
}

.checkbox-input:checked + .checkbox-check {
  background-color: var(--accent-color);

  stroke-dashoffset: 0;
}

.checkbox-check {
  border: 0.2rem solid var(--accent-color);
  border-radius: 0.2rem;

  background-color: var(--black-color);
  fill: none;
  stroke: var(--white-color);
  stroke-dasharray: 25;
  stroke-dashoffset: 25;
  stroke-linecap: round;
  stroke-width: 0.2rem;

  transition: background-color 0.4s, stroke-dashoffset 0.6s;
}
