* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 40px;

  background-color: #fff;
  color: #000;
}

.go-back-link {
  font-size: 20px;
}
