@import './index.css';
@import './checkbox-animation.css';
@import './burger-menu-animation.css';
@import './social-icons-hover-animation.css';
@import './multi-colored-text.css';
@import './context-menu.css';
@import './share-your-profile.css';
@import './decryption-effect.css';

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
