:root {
  --black-color: #191a19;
  --white-color: #fafafa;
  --pikachu-color: #f3cf21;
  --background-color: var(--black-color);

  --serif-font: 'Playfair Display', serif;
  --font-family: var(--serif-font);

  --ease: cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

body {
  background-color: var(--background-color);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 3vw, 2rem);

  width: 100vw;
  height: 100vh;
}

.menu-link {
  position: relative;

  width: max-content;
  padding-bottom: 0.2em;

  font-size: clamp(1.5rem, 5vw, 4rem);
  line-height: 1;
  text-decoration: none;

  color: var(--white-color);
}

.menu-link::before {
  content: '';

  position: absolute;
  bottom: 0em;
  transform: scaleX(0);
  transform-origin: left center;

  width: 100%;
  height: 0.075em;

  background-color: var(--pikachu-color);

  transition: all 350ms ease-out;
}

.menu-link:hover::before {
  transform: scaleX(1);

  transition-delay: 200ms;
}

.menu-link:hover .primary {
  transform: translateY(-0.5em) rotateX(90deg);
}

.menu-link:hover .secondary {
  transform: translateY(0em);
}

.menu-link span {
  transform-origin: center center;
  transform-style: preserve-3d;

  display: inline-block;

  white-space: nowrap;

  transition: all 350ms ease-out;
}

.menu-link .primary {
  position: relative;
}

.menu-link .secondary {
  position: absolute;
  left: 0;
  transform: translateY(0.5em) rotateX(90deg);
}
