@import './index.css';

:root {
  --line-thickness: 0.25em;
  --glass-size: 65%;

  --icon-height: 7rem;

  --icon-color: black;

  --transition-speed: 0.45s;
  --timing-function: cubic-bezier(0.66, 1.51, 0.77, 1.13);
}

.search-icon {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: var(--icon-height);
  max-width: 20em;
  height: var(--icon-height);
  border: solid var(--line-thickness);
  border-radius: 100px;
  padding: 0.25em;
  margin: auto;

  border-color: rgba(255, 255, 255, 0);

  transition: all var(--transition-speed) linear,
    border-color 0s linear var(--transition-speed);
}

.search-icon-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  transform: rotate(-45deg);

  width: var(--icon-height);
  height: var(--icon-height);
  border-radius: 100px;
  margin: auto 0;

  transition: all 0 linear;
}

.search-icon-wrapper:hover {
  cursor: pointer;
}

.search-icon-input {
  display: block;

  width: calc(100% - (var(--icon-height) / 2 + 1rem));
  height: 100%;
  border: none;
  border-radius: 100px;
  padding: 0 0.5em;
  margin-right: 6rem;

  text-align: center;
  font-size: 2em;

  color: black;
  background: none;
  background: rgba(255, 255, 255, 0);
  outline: none;

  transition: all var(--transition-speed) linear;
}

.search-icon-input::placeholder {
  color: rgba(0, 0, 0, 0.75);
}

.search-icon-glass {
  position: relative;

  width: var(--glass-size);
  height: var(--glass-size);
  border: solid var(--line-thickness);
  border-radius: 100px;
  margin: 0 auto;

  border-color: var(--icon-color);

  transition: all var(--transition-speed) var(--timing-function)
      var(--transition-speed),
    border-color 0s linear var(--transition-speed);
}

.search-icon-handle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  width: var(--line-thickness);
  height: calc(100% - var(--glass-size));
  border-radius: 0 0 100px 100px;
  margin: 0 auto;

  background: var(--icon-color);

  transition: all var(--transition-speed) var(--timing-function);
  transition-delay: var(--transition-speed);
}

.search-icon-handle::after {
  content: '';

  position: absolute;
  transform: rotate(0deg);

  display: block;

  width: 100%;
  height: 100%;
  border-radius: inherit;

  background: var(--icon-color);

  transition: all var(--transition-speed) var(--timing-function);
  transition-delay: 0s;
}

.search-icon.open {
  width: calc(100vw - 1em);

  border-color: var(--icon-color);

  transition-delay: var(--transition-speed);
}

.search-icon.open .search-icon-input {
  transition-delay: var(--transition-speed);
}

.search-icon.open .search-icon-glass {
  width: 100%;
  height: 100%;

  border-color: rgba(0, 0, 0, 0);

  transition: all var(--transition-speed) var(--timing-function) 0s,
    border-color 0s linear var(--transition-speed);
}

.search-icon.open .search-icon-handle {
  bottom: calc(50% - (100% - var(--glass-size)) / 2);

  border-radius: 100px;

  transition-delay: 0s;
}

.search-icon.open .search-icon-handle::after {
  transition-delay: var(--transition-speed);
  transform: rotate(90deg);
}
